<div class="dialog"
    role="dialog"
    aria-modal="true"
    aria-labelledby="game-4_label" 
    id="folklory">
    <div class="dialog__backdrop dialog-close"></div>
    <div class="dialog__content">
        
        <div class="grid gap-8 lg:gap-8">
            <div>
                <header class="dialog__header">
                    <h2 id="game-4_label" class="dialog__title">Folklory</h2>
                </header>
                <div class="dialog__info">
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Genre:</span>
                        <span class="dialog__info-value">Card Game</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Platforms:</span>
                        <span class="dialog__info-value">Android - iOS - Switch</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Release Date:</span>
                        <span class="dialog__info-value">TBD</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Rating:</span>
                        <span class="dialog__info-value">13+</span>
                    </div>
                </div>
                <div class="dialog__body">
                    <p class="dialog__message">
                        The game involves the discovery of characters from Italian folklore. 
                        <br>Players will explore regions of Tuscany where mythical creatures, never seen before, have settled! Using folklore stories from various cities, players will discover clues to locate the creature's area. They will explore, investigate, and even engage in combat if necessary! 
                        <br>To solve puzzles and fights you will use mechanics inherent to the cards, these mechanics allow you to find objects by ambiguing cards with NPGs and fight thanks to defensive and offensive cards!
                    </p>
                    
                </div>
                
            </div>
            
            <div class="dialog__gallery">
                <section class="splide" aria-label="Game gallery">
                    <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/folklory/folklory01.webp" type="image/webp"   width="800" height="439">
                                        <source srcset="/assets/images/folklory-math/folklory01.jpg" type="image/jpeg"  width="800" height="439">
                                        <img src="/assets/images/folklory/folklory01.jpg"  loading="lazy" alt="Folklory title screen"  width="800" height="439">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/folklory/folklory02.webp" type="image/webp"   width="800" height="449">
                                        <source srcset="/assets/images/folklory-math/folklory02.jpg" type="image/jpeg"  width="800" height="449">
                                        <img src="/assets/images/folklory/folklory02.jpg"  loading="lazy" alt="Folklory gameplay demo screenshot"  width="800" height="449">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/folklory/folklory04.webp" type="image/webp"   width="800" height="449">
                                        <source srcset="/assets/images/folklory-math/folklory04.jpg" type="image/jpeg"  width="800" height="449">
                                        <img src="/assets/images/folklory/folklory04.jpg"  loading="lazy" alt="Folklory gameplay demo screenshot"  width="800" height="449">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/folklory/folklory03.webp" type="image/webp"   width="800" height="452">
                                        <source srcset="/assets/images/folklory-math/folklory03.jpg" type="image/jpeg"  width="800" height="452">
                                        <img src="/assets/images/folklory/folklory03.jpg"  loading="lazy" alt="Folklory gameplay demo screenshot"  width="800" height="452">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/folklory/folklory05.webp" type="image/webp"   width="800" height="439">
                                        <source srcset="/assets/images/folklory-math/folklory05.jpg" type="image/jpeg"  width="800" height="439">
                                        <img src="/assets/images/folklory/folklory05.jpg"  loading="lazy" alt="Folklory menu demo screenshot"  width="800" height="439">
                                    </picture>
                                </li>
                                
                            </ul>
                    </div>
                </section>
            </div>
            
        </div>
        <div class="close-wrapper">
            <button type="button" class="dialog-close btn btn--secondary btn--shadow btn--icon">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    <span class="sr-only">Close Dialog</span> 
                </span>
            </button>
        </div>
        
    </div>
</div>