<footer id="footer" class="pt-20 pb-12 px-6 bg-abyss ">
      <div class="container mx-auto px-4 pt-20 pb-12 bg-abyss-800 cube cube-lb">
        <div class="text-center text-white">
          <div class="flex justify-center items-center gap-3">
            <div class="w-10">
              {{> logo }}
            </div>
            <div class="w-80">
              {{> forgeplay }}
            </div>
          </div>
          
          <h2 class="sr-only">Forgeplay studio</h2>
          <nav class="mt-12 mb-20 text-center text-white" role="navigation">
            <ul class="flex flex-col gap-6 lg:flex-row lg:gap-12 justify-center">
              <li><a href="/" class="home-link">Home</a></li>
              <li><a href="/#games">Games</a></li>
              <li><a href="/#about">About</a></li>
              <li><a href="/#contact">Contact</a></li>
            </ul>
          </nav>
            <p class="copyline flex flex-col sm:flex-row justify-center gap-0 sm:gap-3 text-xs">
              <span>© 2023 Forgeplay Studio</span> 
              <span>-</span>
              <span><a class="underline hover:text-primary-500" href="/privacy-policy">Privacy Policy</a></span> 
              <span>-</span> 
              <span>Made with ❤️ by <a class="underline hover:text-primary-500" href="https://strongale.it/" target="_blank">StrongAle</a></span>
              <span>-</span> 
              <span>Visuals by <a class="underline hover:text-primary-500" href="https://iamgiacomojayganduglia.myportfolio.com/" target="_blank">Cans1</a></span>
            </p>
          
        </div>
        
      </div>
    </footer>