<template class="form_feedback_template">
    <div class="form_feedback-wrapper mt-6">
    <div class="feedback-box text-sm" role="alert">
        <p class="form_feedback_message"></p>
    </div>
    </div>
</template>
<template class="error-list">
    <ul class="list-disc mt-3"></ul>
</template>
<div class="form_feedback">

</div>