<div class="dialog"
    role="dialog"
    aria-modal="true"
    aria-labelledby="game-2_label" 
    id="laser-chickens">
    <div class="dialog__backdrop dialog-close"></div>
    <div class="dialog__content">
        
        <div class="grid gap-8 lg:gap-8">
            <div>
                <header class="dialog__header">
                    <h2 id="game-2_label" class="dialog__title">Laser Chickens</h2>
                </header>
                <div class="dialog__info">
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Genre:</span>
                        <span class="dialog__info-value">Party Game</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Platforms:</span>
                        <span class="dialog__info-value">Android - itch - iOS</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Release Date:</span>
                        <span class="dialog__info-value">August 2024</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Rating:</span>
                        <span class="dialog__info-value">+7</span>
                    </div>
                </div>
                <div class="dialog__body">
                    <p class="dialog__message">
                        Simple multiplayer game up to 4 players.
                        <br>Players are hens fighting each other in a laser-blasting arena!
                        <br>Move between portals, hide and attack your enemy at the right time!
                        <br>Use your character's special move to defeat your enemies faster!
                        <br>Prove you're the strongest chicken!
                    </p>
                    
                </div>
                
            </div>
            
            <div class="dialog__gallery">
                <section class="splide" aria-label="Game gallery">
                    <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/laser-chickens/laser_chickens_title.webp" type="image/webp"   width="800" height="450">
                                        <source srcset="/assets/images/laser-chickens/laser_chickens_title.jpg" type="image/jpeg"  width="800" height="450">
                                        <img src="/assets/images/laser-chickens/laser_chickens_title.jpg"  loading="lazy" alt="Game Title animation demo"  width="800" height="450">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/laser-chickens/laser_chickens_screenshot2.webp" type="image/webp"   width="800" height="448">
                                        <source srcset="/assets/images/laser-chickens/laser_chickens_screenshot2.jpg" type="image/jpeg"  width="800" height="448">
                                        <img src="/assets/images/laser-chickens/laser_chickens_screenshot2.jpg"  loading="lazy" alt="Game Screenshot"  width="800" height="448">
                                    </picture>
                                </li>
                                
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/laser-chickens/laser_chickens_infographic.jpg" type="image/webp"   width="800" height="450">
                                        <source srcset="/assets/images/laser-chickens/laser_chickens_infographic.jpg" type="image/jpeg"  width="800" height="450">
                                        <img src="/assets/images/laser-chickens/laser_chickens_infographic.jpg"  loading="lazy" alt="Gameplay Loop infographic"    width="800" height="450">
                                    </picture>
                                </li>
                                {{!-- <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/laser-chickens/chicken.webp" type="image/webp"   width="300" height="300">
                                        <source srcset="/assets/images/laser-chickens/chicken.gif" type="image/gif"  width="300" height="300">
                                        <img src="/assets/images/laser-chickens/chicken.gif"  loading="lazy" alt="Chicken idle animation"    width="300" height="300">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/laser-chickens/chicken_hit.webp" type="image/webp"   width="300" height="300">
                                        <source srcset="/assets/images/laser-chickens/chicken_hit.gif" type="image/gif"  width="300" height="300">
                                        <img src="/assets/images/laser-chickens/chicken_hit.gif"  loading="lazy" alt="Chicken hit animation"    width="300" height="300">
                                    </picture>
                                </li> --}}
                                <li class="splide__slide">
                                    <div class="aspect-video portrait">
                                        <video controls preload="auto" aria-labelledby="trailer" width="1920" height="1080">
                                            <source src="/assets/images/laser-chickens/laser_chickens_gameplay.webm" type="video/webm">
                                            <source src="/assets/images/laser-chickens/laser_chickens_gameplay.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        <p id="trailer" class="sr-only">Laser Chickens Gameplay video</p>
                                    </div>
                                    
                                </li>
                            </ul>
                    </div>
                </section>
            </div>
            
        </div>
        <div class="close-wrapper">
            <button type="button" class="dialog-close btn btn--secondary btn--shadow btn--icon">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    <span class="sr-only">Close Dialog</span> 
                </span>
            </button>
        </div>
        
    </div>
</div>