<div class="dialog"
    role="dialog"
    aria-modal="true"
    aria-labelledby="game-7_label" 
    id="project-m">
    <div class="dialog__backdrop dialog-close"></div>
    <div class="dialog__content">
        
        <div class="grid gap-8 lg:gap-8">
            <div>
                <header class="dialog__header">
                    <h2 id="game-1_label" class="dialog__title">Project M (Temporary Name)</h2>
                </header>
                <div class="dialog__info">
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Genre:</span>
                        <span class="dialog__info-value">Competitive FPS Multiplayer</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Platforms:</span>
                        <span class="dialog__info-value">PC</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Future Platforms:</span>
                        <span class="dialog__info-value">Next Gen consoles</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Release Date:</span>
                        <span class="dialog__info-value">2027</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Engine:</span>
                        <span class="dialog__info-value">Unreal Engine 5</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Asking budget:</span>
                        <span class="dialog__info-value">5.800.000 EUR</span>
                    </div>
                </div>
                <div class="dialog__body">
                    <p class="dialog__message">
                        Project M is a 5 vs 5 Multiplayer First Person Shooter  
                        (FPS) designed for the competitive Esports market.  
                        
                    </p>
                    <p class="dialog__message">
                        With  
                        innovative game mechanics, new game modes and a  
                        wide range of fully customizable weapons and  
                        characters to suit your play style, it offers immersive  
                        and competitive gameplay.
                    </p>
                    <p class="dialog__message">
                        Players can compete in  
                        organized tournaments and online leaderboards to  
                        demonstrate their skills and climb the ranks in Esports  
                        competitions. 
                    </p>
                </div>
                {{!-- <footer class="dialog__footer">
                    
    
                     <a class="dialog__button btn btn--primary btn--shadow">
                        <span>
                            Playstore
                        </span>
                        
                    </a>
					<a class="dialog__button btn btn--primary btn--shadow">
                        <span>
                            Itch.io
                        </span>
                        
                    </a>
					<a class="dialog__button btn btn--secondary btn--shadow">
                        <span>
                            Presskit
                        </span>
                        
                    </a>
                </footer> --}}
            </div>
            
            <div class="dialog__gallery">
                <section class="splide" aria-label="Game gallery">
                    <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <div class="aspect-video portrait">
                                        <video controls preload="auto" aria-labelledby="trailer" width="1920" height="1080">
                                            <source src="/assets/images/project-m/Shared_Gameplay.webm" type="video/webm">
                                            <source src="/assets/images/project-m/Shared_Gameplay.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        <p id="trailer" class="sr-only">Project M Gameplay video</p>
                                    </div>
                                    
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/project-m/MainMenu.webp" type="image/webp"   width="800" height="450">
                                        <source srcset="/assets/images/project-m/MainMenu.jpg" type="image/jpeg"  width="800" height="450">
                                        <img src="/assets/images/project-m/MainMenu.jpg"  loading="lazy" alt="Game Title animation demo"  width="800" height="450">
                                    </picture>
                                </li>
                                
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/project-m/Gameplay.webp" type="image/webp"   width="800" height="448">
                                        <source srcset="/assets/images/project-m/Gameplay.jpg" type="image/jpeg"  width="800" height="448">
                                        <img src="/assets/images/project-m/Gameplay.jpg"  loading="lazy" alt="Game Screenshot"  width="800" height="448">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/project-m/Gameplay2.webp" type="image/webp"   width="800" height="448">
                                        <source srcset="/assets/images/project-m/Gameplay2.jpg" type="image/jpeg"  width="800" height="448">
                                        <img src="/assets/images/project-m/Gameplay2.jpg"  loading="lazy" alt="Game Screenshot"  width="800" height="448">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/project-m/Gameplay4.webp" type="image/webp"   width="800" height="448">
                                        <source srcset="/assets/images/project-m/Gameplay4.jpg" type="image/jpeg"  width="800" height="448">
                                        <img src="/assets/images/project-m/Gameplay4.jpg"  loading="lazy" alt="Game Screenshot"  width="800" height="448">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/project-m/gameplay5.webp" type="image/webp"   width="800" height="448">
                                        <source srcset="/assets/images/project-m/gameplay5.jpg" type="image/jpeg"  width="800" height="448">
                                        <img src="/assets/images/project-m/gameplay5.jpg"  loading="lazy" alt="Game Screenshot"  width="800" height="448">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/project-m/gameplay6.webp" type="image/webp"   width="800" height="448">
                                        <source srcset="/assets/images/project-m/gameplay6.jpg" type="image/jpeg"  width="800" height="448">
                                        <img src="/assets/images/project-m/gameplay6.jpg"  loading="lazy" alt="Game Screenshot"  width="800" height="448">
                                    </picture>
                                </li>
                                
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/project-m/Customize_Weapons.jpg" type="image/webp"   width="800" height="450">
                                        <source srcset="/assets/images/project-m/Customize_Weapons.jpg" type="image/jpeg"  width="800" height="450">
                                        <img src="/assets/images/project-m/Customize_Weapons.jpg"  loading="lazy" alt="Gameplay Loop infographic"    width="800" height="450">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/project-m/Weapon.jpg" type="image/webp"   width="800" height="450">
                                        <source srcset="/assets/images/project-m/Weapon.jpg" type="image/jpeg"  width="800" height="450">
                                        <img src="/assets/images/project-m/Weapon.jpg"  loading="lazy" alt="Gameplay Loop infographic"    width="800" height="450">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <div class="aspect-video portrait">
                                        <video controls preload="auto" aria-labelledby="trailer" width="1920" height="1080">
                                            <source src="/assets/images/project-m/Shared_Main_Menu.webm" type="video/webm">
                                            <source src="/assets/images/project-m/Shared_Main_Menu.mp4" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                        <p id="trailer" class="sr-only">Project M Menu video</p>
                                    </div>
                                    
                                </li>
                                {{!-- <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/project-m/chicken.webp" type="image/webp"   width="300" height="300">
                                        <source srcset="/assets/images/project-m/chicken.gif" type="image/gif"  width="300" height="300">
                                        <img src="/assets/images/project-m/chicken.gif"  loading="lazy" alt="Chicken idle animation"    width="300" height="300">
                                    </picture>
                                </li>
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/project-m/chicken_hit.webp" type="image/webp"   width="300" height="300">
                                        <source srcset="/assets/images/project-m/chicken_hit.gif" type="image/gif"  width="300" height="300">
                                        <img src="/assets/images/project-m/chicken_hit.gif"  loading="lazy" alt="Chicken hit animation"    width="300" height="300">
                                    </picture>
                                </li> --}}
                                
                            </ul>
                    </div>
                </section>
            </div>
            
        </div>
        <div class="close-wrapper">
            <button type="button" class="dialog-close btn btn--secondary btn--shadow btn--icon">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    <span class="sr-only">Close Dialog</span> 
                </span>
            </button>
        </div>
        
    </div>
</div>