<div class="dialog"
    role="dialog"
    aria-modal="true"
    aria-labelledby="game-5_label" 
    id="puzzle-game">
    <div class="dialog__backdrop dialog-close"></div>
    <div class="dialog__content">
        
        <div class="grid gap-8 lg:gap-8">
            <div>
                <header class="dialog__header">
                    <h2 id="game-5_label" class="dialog__title">Puzzle Game</h2>
                </header>
                <div class="dialog__info">
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Genre:</span>
                        <span class="dialog__info-value">Puzzle Game</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Platforms:</span>
                        <span class="dialog__info-value">Android - iOS</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Release Date:</span>
                        <span class="dialog__info-value">TBD</span>
                    </div>
                    <div class="dialog__info-item">
                        <span class="dialog__info-label">Rating:</span>
                        <span class="dialog__info-value">7+</span>
                    </div>
                </div>
                <div class="dialog__body">
                    <p class="dialog__message">
                        This game is based on combinations, the player is given a finite number of wooden pieces that must be fitted together in the right way to create different 2D and 3D shapes, the player uses the Ui to position and rotate the wooden pieces in order to find the possible combination(s).
                    </p>
                    
                </div>
                
            </div>
            
            <div class="dialog__gallery">
                <section class="splide" aria-label="Game gallery">
                    <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/puzzle-game/puzzle_screen.webp" type="image/webp"   width="681" height="1210">
                                        <source srcset="/assets/images/puzzle-game/puzzle_screen.jpg" type="image/jpeg"  width="681" height="1210">
                                        <img src="/assets/images/puzzle-game/puzzle_screen.jpg"  loading="lazy" alt="Game Screenshot demo"  width="681" height="1210">
                                    </picture>
                                    <li class="splide__slide">
                                    <picture class="block dialog_gallery__image">
                                        <source srcset="/assets/images/puzzle-game/puzzle_elements.webp" type="image/webp"   width="800" height="478">
                                        <source srcset="/assets/images/puzzle-game/puzzle_elements.jpg" type="image/jpeg"  width="800" height="478">
                                        <img src="/assets/images/puzzle-game/puzzle_elements.jpg"  loading="lazy" alt="Game elements prototype sheet"  width="800" height="478">
                                    </picture>
                                </li>
                                </li>
                            </ul>
                    </div>
                </section>
            </div>
            
        </div>
        <div class="close-wrapper">
            <button type="button" class="dialog-close btn btn--secondary btn--shadow btn--icon">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                    <span class="sr-only">Close Dialog</span> 
                </span>
            </button>
        </div>
        
    </div>
</div>